body {
  background: transparent;
  padding: 0 24px;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App {
  color: #72a24d;
}

.DateRangePicker {
  font-family: Arial, sans-serif;
  margin-bottom: 10px;
}

.DateRangePicker label {
  margin-right: 10px;
}

.DateRangePicker input[type="date"] {
  margin-right: 10px;
  padding: 5px;
}

.DateRangePicker button {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.DateRangePicker button:hover {
  background-color: #0056b3;
}

.DateRangePicker button:last-child {
  margin-right: 0;
}

.DateRangePicker p {
  margin-top: 10px;
}

.predefinedButton {
  margin-top: 20px;
}
